body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 100vp;
    margin: 0;
}

.header,
.main,
.footer{
    background-color: #1F2937;
}

.welcomeImg {
    height: 250px;
}

.header .centerBox,
.footer .centerBox{
    height: 35px;
    padding-bottom: 0;
}

.centerBox
{
    max-width: 600px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.main .centerBox{
    align-items: center;
}

.header,
.main,
.examples,
.quotes,
.invite,
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.examples{
    display: flex;
    flex-direction: column;
}

.examples .centerBox{
    flex-wrap: wrap;
    gap: 30px;
}

.example {
    width: 125px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.exampleImg{
    border: 2px solid #3882F6;
    border-radius: 5px;
    width: 125px;
    height: 125px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.descr {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 5px 0;
    margin: 0;
}

.quotes .centerBox
{
    padding-top: 10px;
    flex-direction: column;
}

.quotee{
    text-align: right;
    font-weight: bold;
}

.quote,
.quotee{

    font-size: 24px;
    color: #1F2937;
    margin: 0;
}

.quote {
    font-style: italic;
    font-weight: lighter;
}

.quotes {
    background-color: #E5E7EB;
}

button{
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    border: none;
    width: 75px;
}

.joinbis {
    border: 1px solid #E5E7EB;
}

.invite .centerBox{
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 60px;
    padding: 15px 25px;
    align-items: center;
}

button {
    height: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    align-items: center;
  }

.footer .centerBox{
    font-size: 12px;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
}